body {
  background-color: lightgray;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: gray;
  width: 100vw;
  height: 40px;
}

p {
  max-width: 800px;
}

button {
  height: 28px;
}

input {
  height: 23px;
  width: 30vw;
  font-size: 18px;
}


.flex-row {
  display: flex;
  align-items: center;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.max-width {
  max-width: 80vw;
}

.right {
  margin-right: 5px;
}

.left {
  margin-left: 5px;
}

.artist-image {
  float: left;
}
